body {
    font-size-adjust: sans-serif;
    background: orange;
}

p {
    background-color: green;
    color:white;
    font-size: 130% ;
}
h1 {
    color:blue;
}

h4,h5,h3,h2 {
font-size: 135%;
color:white;
}

a {
font-size: 150%;
}
ol {
font-size: 140%;
}
img:hover {
    cursor:pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 5px black;
  }
  img {
      width: 500px;
      height:100%;
  }